*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;

    padding: 3rem;
    color: #333;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to bottom, #9fc87eb4, #06923ebc), url(./img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;

}

.header__ {
    &logo-box {
        position: absolute;
        top: 4rem;
        left: 4.5rem;
    }

    &logo {
        height: 4rem;

    }

    &cover-page {
        position: absolute;
        top: 29%;
        left: 32%;
        text-align: center;


    }
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    &--main {
        letter-spacing: 3rem;
        font-size: 5.5rem;
        font-weight: 520;
        animation-name: moveinleft;
        animation-duration: 1s;


    }

    &--sub {
        letter-spacing: 1.4rem;
        font-size: 2rem;
        font-weight: 60rem;
        animation-duration: 1s;
        animation-name: moveinright;
        margin-bottom: 5rem;

    }
}


@keyframes moveinleft {
    0% {
        opacity: 0;
        transform: translatex(-13rem)
    }

    80% {
        opacity: 0.8;
        transform: translatex(2rem);
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes moveinright {
    0% {
        opacity: 0;
        transform: translatex(10 rem);
    }

    80% {
        opacity: 0.8;
        transform: translatex(-1rem);
    }

    100% {
        opacity: 1;
        transform: translatex(0);

    }
}

.btn {
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        border-radius: 120px;
        display: inline-block;
        transition: all 0.2s;
        position: relative;
        font-size: 2.5rem;
        font-weight: 450;

    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

        &::after {
            transform: scaleX(1.4) scaleY(1.5);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    }

    &:--animated {
        animation: moveupbutton 0.4s ease-in-out 0.75s;
        animation-fill-mode: backwards;
    }
}

.btn--white {
    background-color: #fff;
    color: #333;

    &::after {
        background-color: #fff;

    }

}


.btn::after {
    content: " ";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s
}


@keyframes moveupbutton {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translatex(0);

    }
}