
.header {
    height: 95vh;
    background-image: linear-gradient(to bottom, #9fc87eb4, #06923ebc), url(../../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

}

.header__ {
    &logo-box {
        position: absolute;
        top: 4rem;
        left: 4.5rem;
    }

    &logo {
        height: 4rem;

    }

    &cover-page {
        position: absolute;
        top: 29%;
        left: 32%;
        text-align: center;


    }
}