.feature-box {
    font-size: 1.5rem;
    padding: 2.5rem;
    background-color: rgba($color-white, 0.65);
    margin-bottom:3rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
    transition: all .2s;
    
   

    &__icon {
        font-size: 5.5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: translateY(-1rem) scale(1.05);
        box-shadow: 0 2.5rem 4rem rgba($color-black, .4);

    }
}