body {
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;

    padding: 3rem;
    color: #333;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    &--main {
        letter-spacing: 3rem;
        font-size: 5.5rem;
        font-weight: 520;
        animation-name: moveinleft;
        animation-duration: 1s;


    }

    &--sub {
        letter-spacing: 1.4rem;
        font-size: 2rem;
        font-weight: 60rem;
        animation-duration: 1s;
        animation-name: moveinright;
        margin-bottom: 5rem;

    }
}