
@keyframes moveinleft {
    0% {
        opacity: 0;
        transform: translatex(-13rem)
    }

    80% {
        opacity: 0.8;
        transform: translatex(2rem);
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes moveinright {
    0% {
        opacity: 0;
        transform: translatex(10 rem);
    }

    80% {
        opacity: 0.8;
        transform: translatex(-1rem);
    }

    100% {
        opacity: 1;
        transform: translatex(0);

    }
}
@keyframes moveupbutton {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translatex(0);

    }
}