*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    background-color: red !important; /* TEST CODE */
}

body {
    box-sizing: border-box;
}
