body {
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    
    

    padding: 3rem;
    color: #333;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
     margin-bottom: 5rem;

    &--main {
        display: block;
        letter-spacing: 3rem;
        font-size: 5.5rem;
        font-weight: 520;
        animation-name: moveinleft;
        animation-duration: 1s;


    }

    &--sub {
        display:block;
        letter-spacing: 1.4rem;
        font-size: 2rem;
        font-weight: 600;
        animation-duration: 1s;
        animation-name: moveinright;
       

    }
}

.heading-secondary {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 650;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
    &:hover{
        transform:skewY(2deg) skewX(10deg) scale(1.1);
        text-shadow:0.5rem 1rem 1rem rgb(0, 0, 0, 0.2);
    }
}
.heading-tertiary{
    font-size: $default-font-size;
    font-weight:700;
    text-transform:uppercase;
}
.paragraph{
    font-size:$default-font-size;
    &:not(:last-child){
        margin-bottom:3rem;
    }
}