
.btn {
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        border-radius: 120px;
        display: inline-block;
        transition: all 0.2s;
        position: relative;
        font-size: 2.5rem;
        font-weight: 450;

    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

        &::after {
            transform: scaleX(1.4) scaleY(1.5);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    }

    &--animated {
        animation: moveupbutton 0.4s ease-in-out 0.75s;
        animation-fill-mode: backwards;
    }
}



.btn--white {
    background-color: #fff;
    color: #333;

    &::after {
        background-color: #fff;

    }

}


.btn::after {
    content: " ";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s
}
