.story {
    width: 75%;
    margin: 0 auto;
    padding: 6rem;
    background-color: rgba($color-white, 0.5);
    box-shadow: 0 3rem 6rem rgba($color-black, 0.2);
    border-radius: 3px;
    font-size: 1.6rem;
    padding-left: 6rem;
    transform: skewX(-12deg);

    &__shape {
        height: 15rem;
        width: 15rem;
        float: left;

        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;

    }

    &__img {
        height: 100%;
        transform: translateX(-3rem) scale(1.4);
        backface-visibility: hidden;
        transition: all 0.3s;
        z-index: 1;

    }

    &__text {
        transform: skewX(12deg);
    }

    &__figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all 0.4s;
        backface-visibility: hidden;
        font-size: 1.7rem;
        z-index: 2;
    }

    &:hover {
        .story__figcaption {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

    &:hover &__img {
        transform: translateX(-3rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
   
}