//generally whenever i am adding a new page iam adding a new section
//and i am adding a new section in the home page
.section-about {
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    margin-top:-20vh;
   
}
.section-features{
    padding:20rem 0;
    background-color: $color-grey-light-1;
    background-image: linear-gradient(to right, #9fc87eb4, #06923ebc), url(../../img/nat-4.jpg);
    background-size: cover;
    transform:skewY(-7deg);
    margin-top:-11rem;
    &>*{
        transform:skewY(7deg);
    }
}

.section-tour{
    background-color: $color-grey-light-1;
    padding: 15rem 0 15rem 0;
    margin-top:-10vh;

}
.section-story{
    padding:15rem 0;
    position:relative;

}
.section-book{
    padding:15rem 0;
    background-image: linear-gradient(to right bottom, #9fc87ecc, #06923ee3);
}
.book{
    background-image: linear-gradient(105deg ,rgba($color-white,0.8) 0,
    rgba($color-white,0.8) 50%, 
    transparent 50%),
    url(../../img/nat-10.jpg );
    background-size: cover ;
    height: 50rem;
    border-radius:3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
    &__form{
        width: 50%;
       padding:6rem;
        
    }
}
