//generally whenever i am adding a new page iam adding a new section
//and i am adding a new section in the home page
.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top:-20rem;
   
}
.section-features{
    padding:20rem 0;
    background-color: $color-grey-light-1;
    background-image: linear-gradient(to right, #9fc87eb4, #06923ebc), url(../../img/nat-4.jpg);
    background-size: cover;
    transform:skewY(-7deg);
    margin-top:-11rem;
    &>*{
        transform:skewY(7deg);
    }
}

